.App {
    --header_height: 60px;
    max-width: 1200px;
    margin: 131px auto ;
}

.hw {
    width: 100%;
    border: 1px solid #D9D9D9;
    padding: 24px 70px 35px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

/* .hw >div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

} */

.hwTitle {
    font-size:22px;
    font-family:Montserrat;
    line-height: 27px;
    align-items: center;
    padding-bottom: 10px;
    font-weight: bold;
}