.greetingForm {
	width: 100%;
}

.inputAndButtonContainer {
}
.input{
	border: 1px solid tan;
}

.error {
  color: red;
  height: 20px;
  margin-top: 5px;
}

.errorInput {
  border: 2px solid red;
  outline: none;
}

.button {
  margin-left: 10px;
  background-color: #0066cc;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.greeting {
  margin-top: 10px;
}
